name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Setup NuGet.exe
      uses: nuget/setup-nuget@v1
      with:
        nuget-version: latest
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Zip
      uses: papeloto/action-zip@v1
      with:
          files: bin/Debug/net6.0/ArsenicModuleInstaller.dll bin/Debug/net6.0/ArsenicModuleInstaller.runtimeconfig.json bin/Debug/net6.0/Facepunch.Steamworks.Win64.dll bin/Debug/net6.0/Pastel.dll /steam_api64.dll
          dest: ArsenicModuleInstaller.zip
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ArsenicModuleInstaller.zip
        tag_name: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
